@font-face {
  font-family: 'Lobster', cursive;
}

@font-face {
  font-family: 'Josefin Slab', serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

.topnav {
  overflow: hidden;
  background-color: #393e46;
}

.topnav a {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  /* font-size: px; */
}

.nav:hover {
  background-color: #ffd369;
  color: black;
}
.nav{
  float: right;
  font-size: 20px;
  font-family: Lobster;
}

.tutorhub{
  font-family: Josefin Slab;
  float: left; !important
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;

}


h1{
  font-family: Lobster;
  color: #39311d;
}
p{
  ont-size: 14.1px;
    color: #fff;
    line-height: 2.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

}

input[type=text], input[type=password], input[type=number], input[type=email],input[type=tel] ,input[type=date],  textarea {
  /* width: 100%;
  padding: 20px 70px; */
  /* margin: 15px 0 22px 0; */
  height: 60px;
  width: 500px;
  display: inline-block;
  border: none;
  background: #ddd;
  border-radius: 4px;
  font-family: lato;
  color: #393e46;
  font-size: 18px;
  padding-left: 2%;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus,input[type=tel]:focus,input[type=date]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.input-left input{
float: left;
width: 350px;
margin-left: 350px;
margin-bottom: 50px;
}
.input-right input{
float: right;
width: 350px;
margin-right: 350px;
margin-bottom: 50px;
}

.input input{
  width:790px;
  margin-left: 350px;
  margin-bottom: 50px;
}
.input select{
  margin-left: 350px;
  margin-bottom: 50px;
  width:820px;
}
.input-left select{
float: left;
width: 380px;
margin-left: 350px;
margin-bottom: 50px;
margin-right: 0;
}
.input-right select{
float: right;
width: 380px;
margin-right: 350px;
margin-bottom: 50px;
margin-left: 0;
}
.input-right-days select{
float: right;
width: 380px;
margin-right: 350px;
margin-bottom: 50px;
margin-top: -18px;
}

::placeholder{
  color: #393e46;
  opacity: .5;
  /* padding-left: 5%; */
}

select {
  /* width: 100%;
  padding: 20px 70px; */
  /* margin: 15px 0 22px 0; */
  height: 60px;
  width: 530px;
  display: inline-block;
  border: none;
  background: #ddd;
  border-radius: 4px;
  font-family: lato;
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 1.5%;
}

.icon
{
    color: #ffffffc4;
}
.input-holder
{
    padding-top: 30px;
}

.terms{
  font-color:white;
}
.input:focus
{
    border-bottom: 0.5px solid #fff;
}
.login-form
{
      margin-top: 5%;
}
.button
{
  width: 100%;
  /* padding: 20px 70px; */
  height: 60px;
  width: 500px;
  border:none;
  background-color: #393e46;
  color: #f2f2f2;
font-size: 25px;
text-align: center;
font-family: Lobster;
border-radius: 5px;
}
.button:hover
{
  background-color: #222831;
  color: #f2f2f2;
}

.button:focus{
  background-color: #393e46;
  color: #f2f2f2;
}
.link
{
  float: left;
  color: #222831;
  margin-left: 520px;
  margin-top: 25px;

}
.link:hover
{
    color: #fff;
    text-decoration: none;
}

.login-button{
  float: right;
  width: 100%;
/* padding: 20px 70px; */
height: 60px;
width: 220px;
border: none;
background-color: #393e46;
color: #f2f2f2;
font-size: 25px;
text-align: center;
font-family: Lobster;
border-radius: 5px;
margin-right: 490px;
}


/* Guardian-profile */

.profile-pic{
    float: left;
    margin: 100px 100px 50px 150px;
}
input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;

     width: 300px;
    height: 300px;
}
	.title{ font-size:16px; font-weight:500;}
	 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0
   }
  .input-holder2{
    padding-top: 30px;

  }

  .profile-input{
    float: right;
    margin-top: 20px;
    margin-right: 300px;
  }


  /* post add starts */
.input-option{
  opacity: 0.5;
}
