@font-face {
  font-family: 'Lobster', cursive;
}

@font-face {
  font-family: 'Josefin Slab', serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

  /* nav bar style */

.topnav {
  overflow: hidden;
  background-color: #393e46;
}

.topnav a {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  /* font-size: px; */
}

.nav:hover {
  background-color: #ffd369;
  color: black;
}
.nav{
  float: right;
  font-size: 20px;
  font-family: Lobster;
}

.tutorhub{
  font-family: Josefin Slab;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;

}


h1{
  font-family: Lobster;
  color: #39311d;
}
p{
        font-size: 14.1px;
        color: #fff;
        line-height: 2.2;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 1rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

}

    /* registration & login style */

input[type=text], input[type=password], input[type=number], input[type=email],input[type=tel] ,input[type=date],  textarea {
  /* width: 100%;
  padding: 20px 70px; */
  /* margin: 15px 0 22px 0; */
  height: 60px;
  width: 500px;
  display: inline-block;
  border: none;
  background: #ddd;
  border-radius: 4px;
  font-family: lato;
  color: #393e46;
  font-size: 18px;
  padding-left: 2%;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus,input[type=tel]:focus,input[type=date]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.input-left input{
float: left;
width: 350px;
margin-left: 350px;
margin-bottom: 50px;
}
.input-right input{
float: right;
width: 350px;
margin-right: 350px;
margin-bottom: 50px;
}

.input input{
  width:790px;
  margin-left: 350px;
  margin-bottom: 50px;
}
.input select{
  margin-left: 350px;
  margin-bottom: 50px;
  width:820px;
}
.input-left select{
float: left;
width: 380px;
margin-left: 350px;
margin-bottom: 50px;
margin-right: 0;
}
.input-right select{
float: right;
width: 380px;
margin-right: 350px;
margin-bottom: 50px;
margin-left: 0;
}
.input-right-days select{
float: right;
width: 380px;
margin-right: 350px;
margin-bottom: 50px;
margin-top: -18px;
}

::placeholder{
  color: #393e46;
  opacity: .5;
  /* padding-left: 5%; */
}

select {
  /* width: 100%;
  padding: 20px 70px; */
  /* margin: 15px 0 22px 0; */
  height: 60px;
  width: 530px;
  display: inline-block;
  border: none;
  background: #ddd;
  border-radius: 4px;
  font-family: lato;
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 1.5%;
}

.icon
{
    color: #ffffffc4;
}

.input-holder
{
    padding-top: 30px;
    position: relative;
}
.input-holder i {
  position: absolute;
  top: 60%;
  right: 36%;
  visibility: hidden;
}
.input-holder small{
  position: absolute;
  left: 35%;
  top: 105%;
  visibility: hidden;
}
.input-holder.success input{
  border: solid #2ecc71;
  border-width: 2px;
}
.input-holder.success i.fa-check-circle{
  color: #2ecc71;
  visibility: visible;
}

.input-holder.error input{
  border: solid #e74c3c;
  border-width: 2px;
}
.input-holder.error i.fa-exclamation-circle{
  color: #e74c3c;
  visibility: visible;
}
.input-holder.error small{
  color: #e74c3c;
  visibility: visible;
}

.pinput-hold{

}

.pinput-hold.success input{
  border: solid #2ecc71;
  /* border-width: 2px; */
}


.pinput-hold.error input{
  border: solid #e74c3c;

  /* border-width: 2px; */
}

.terms{
  font-color:white;
}
.input:focus
{
    border-bottom: 0.5px solid #fff;
}
.login-form
{
      margin-top: 5%;
}
.button
{
  width: 100%;
  /* padding: 20px 70px; */
  height: 60px;
  width: 500px;
  border:none;
  background-color: #393e46;
  color: #f2f2f2;
font-size: 25px;
text-align: center;
font-family: Lobster;
border-radius: 5px;
}
.button:hover
{
  background-color: #222831;
  color: #f2f2f2;
}

.button:focus{
  background-color: #393e46;
  color: #f2f2f2;
}
.link
{
  float: left;
  color: #222831;
  margin-left: 520px;
  margin-top: 25px;

}
.link:hover
{
    color: #fff;
    text-decoration: none;
}

.login-button{
  float: right;
  width: 100%;
/* padding: 20px 70px; */
height: 60px;
width: 220px;
border: none;
background-color: #393e46;
color: #f2f2f2;
font-size: 25px;
text-align: center;
font-family: Lobster;
border-radius: 5px;
margin-right: 490px;
}


.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #393e46;
  width: 500px;
  /* align-content: center; */
  margin: 10px auto;
}

.tab button {
  /* background-color: #393e46; */
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  color: #f2f2f2
}

.tab button:hover {
  background-color: #ffd369;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffd369;
  color: black;
}

.tabcontent {
  animation: fadeEffect 2s;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Guardian-profile style*/
.profile-pic {
  float: left;
  margin: 100px 100px 50px 150px;
}

input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;
  width: 300px;
  height: 300px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.bot-border {
  border-bottom: 1px #f8f8f8 solid;
  margin: 5px 0 5px 0
}

.input-holder2 {
  padding-top: 30px;
}

.profile-input {
  float: right;
  margin-top: 20px;
  margin-right: 300px;
}

/* job offer style*/
.job {
  width: 95%;
  background-color: #ddd;
  border-top: solid 5px;
  border-color: #ddd;
}

.job th {
  border-bottom: #ddd solid 10px;
  border-right: #ddd solid 5px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  text-align: left;
}

.job tr {
  border: solid 5px;
  border-color: #ddd;
}

.job td {
  width: 16.67%;
  text-align: center;
  border-right: #ddd solid 5px;
  color: #000000;
  font-size: 20px;
  border-bottom: #ddd solid 30px;
  padding-top: 0px;
  text-align: left;
  padding: 0px 0px 0px 10px;
}

table {
  border-radius: 10px;
}

.job-class {
  margin-bottom: 0;
}

.btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  float: left;
  margin-left: 2.5%;
  padding: 8px 30px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  /* visibility: hidden; */
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

/* choosing tutor style */
.choose {
  width: 95%;
  background-color: #ddd;
  border-top: solid 5px;
  border-color: #ddd;
}

.choose th {

.profile-input {
  float: right;
  margin-top: 20px;
  margin-right: 300px;
}

/* job offer style*/
.job {
  width: 95%;
  background-color: #ddd;
  border-top: solid 5px;
  border-color: #ddd;
}

.job th {
  border-bottom: #ddd solid 10px;
  border-right: #ddd solid 5px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  text-align: left;
}


.choose tr {
  border: solid 5px;
  border-color: #ddd;
}


.job tr {
  border: solid 5px;
  border-color: #ddd;
}

.job td {
  width: 16.67%;
  text-align: center;
  border-right: #ddd solid 5px;
  color: #000000;
  font-size: 20px;
  border-bottom: #ddd solid 30px;
  padding-top: 0px;
  text-align: left;
  padding: 0px 0px 0px 10px;
}

table {
  border-radius: 10px;
}

.job-class {
  margin-bottom: 0;
}

/* homepage Design */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  float: left;
  margin-left: 2.5%;
  padding: 8px 30px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  /* visibility: hidden; */
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

/* choosing tutor style */
.choose {
  width: 95%;
  background-color: #ddd;
  border-top: solid 5px;
  border-color: #ddd;
}

.choose th {
  border-bottom: #ddd solid 10px;
  border-right: #ddd solid 5px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  text-align: left;
}

.choose tr {
  border: solid 5px;
  border-color: #ddd;
}

.choose td {
  width: 26%;
  text-align: center;
  border-right: #ddd solid 5px;
  color: #000000;
  font-size: 20px;
  border-bottom: #ddd solid 30px;
  padding-top: 0px;
  text-align: left;
  padding: 0px 0px 0px 10px;
}

table {
  border-radius: 10px;
}

.choose-class {
  margin-bottom: 0;
}

.contact {
  float: right;
  width: 100%;
  /* padding: 20px 70px; */
  height: 60px;
  width: 220px;
  border: none;
  /* background-color: #393e46; */
  color: #f2f2f2;
  font-size: 25px;
  text-align: center;
  font-family: Lobster;
  border-radius: 5px;
}

.comments {
  float: right;
  margin-right: 50px;
}
